doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=3.0')

    title=meta.data.title

    <!-- Search Engine -->

    meta(name="description" content=meta.data.description)

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

    <!-- Twitter -->

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=meta.data.title)
    meta(name="twitter:description" content=meta.data.description)
    meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->

    meta(name="og:title" content=meta.data.title)
    meta(name="og:description" content=meta.data.description)
    meta(name="og:image" content=meta.data.image ? meta.data.image.url : '')
    meta(name="og:type" content="website")

    link(rel="stylesheet" type="text/css" href="/main.css")

    base(herf='/')
  
  body
    include ./partials/navigation

    .home
      .home__wrapper

      each section in homepage.data.body
        if section.slice_type == 'hero'
          section.home__hero
            .home__hero__wrapper
              .hone__hero__left
                p.home__hero__subtitle=section.primary.sub_title
                h1.home__hero__title=section.primary.title
              .home__hero__right
                figure.home__hero__media
                  img.home__hero__media__image(alt=section.primary.image.alt src=section.primary.image.url)

        if section.slice_type == 'history'
          section.home__history
            .home__history__wrapper
              .home__history__copy!=PrismicDOM.RichText.asHtml(section.primary.copy)

              each media in section.items
                figure.home__history__media
                img.home__history__media__image(alt=media.image.alt src=media.image.url)

        if section.slice_type == 'services'
          section.home__services
            .home__services__wrapper
              h3.home__services__title=section.primary.title
              each service in section.items
                h2.home__services__name=service.name

        if section.slice_type == 'callout'
          section.home__callout
            .home__callout__wrapper 
              h1.home__callout_title=section.primary.title
              figure.home__callout_media 
                img.home__callout__media__image(alt=section.primary.image.alt src=section.primary.image.url)

        if section.slice_type == 'contact'
          section.home__contact
            .home__contact__wrapper
              .home__contact__address
                h4.home__contact__address__title=section.primary.address_title
                a.home__contact__address__link(href=section.primary.google_maps_page.url target='_blank')=section.primary.address
                  svg.home__contact__address__icon
              .home__contact__message
                a.home__contact__mail__link(href='https://www.gmail.com' target='_blank')=section.primary.mail
                  svg.home__contact__mail__icon
                a.home__contact__phone__link(href=section.primary.whatsapp.url target='_blank')=section.primary.phone
                  svg.home__contact__phone__icon
              .home__contact__social
                p.home__contact__social__name Cercas Humaya 2023
                .home__contact__social_icons__wrapper
                  svg.home__contact__twitter__icon
                  svg.home__contact__facebook__icon
                  svg.home__contact__instagram__icon
              

